 

/*
 *  CS 4500 Introduction to the Software Engineering Profession
 *  Keith W. Miller
 *  UMSL Music Department Announcement Application
 *  Code Monkey Mafia
 *  Amanda Rawls - Group Leader
 *  Jeffery Calhoun
 *  Stefan Rothermich
 *  James Steimel
 *  
 *  CSS styling for index.html
 */

.carousel-caption{
background: rgba(0,0,0,0.5);
}

@media (max-width: 550px) {
.big-container {
 display: none;
}
}
@media (min-width: 550px) {
.small-container {
 display: none;
}
}
/* Responsive iFrame */
.responsive-iframe-container {
 position: relative;
 padding-bottom: 56.25%;
 padding-top: 30px;
 height: 0;
 overflow: hidden;
}
.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}
